


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Coffee_shops</h1>

    <%= link_to new_coffee_shop_path, class: button_class(theme: "primary") do %>
    Add New Coffee shop
    <% end %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>
        
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Name</th>
        
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Address</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Phone</th>
                
      </tr>
    </thead>

    <tbody>
      <% @coffee_shops.each do |coffee_shop| %>
      <%= content_tag :tr, id: dom_id(coffee_shop), class: dom_class(coffee_shop) do %>
      
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= link_to coffee_shop.name, coffee_shop %></td>
      

              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= coffee_shop.address %></td>
              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= coffee_shop.phone %></td>
      
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
