<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Import goods:</strong>
    <%= ingredient.import_goods %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ingredient.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= ingredient.quantity %>
  </p>

</div>
