<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Ingredient</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to ingredients_path, class: button_class(theme: "transparent") do %>
      All Ingredients
      <% end %>
      <%= link_to edit_ingredient_path(@ingredient), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @ingredient.name %></p>
      </li>
      <li>
        <p class="font-semibold">Import goods:</p>
        <p><%= @ingredient.import_goods %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @ingredient.price %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @ingredient.quantity %></p>
      </li>
  </ul>
</div>
