<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Payment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to payments_path, class: button_class(theme: "transparent") do %>
      All Payments
      <% end %>
      <%= link_to edit_payment_path(@payment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Amount:</p>
        <p><%= @payment.amount %></p>
      </li>
      <li>
        <p class="font-semibold">Payment date:</p>
        <p><%= @payment.payment_date %></p>
      </li>
      <li>
        <p class="font-semibold">Payment method:</p>
        <p><%= @payment.payment_method %></p>
      </li>
  </ul>
</div>
